
/******
WELCOME
*******/

.page .welcome {
    width: 100%; height: 100%;  
    padding: 0; margin: 0;
    box-sizing: border-box;
    background: var(--bg-primary);

    position: absolute; 
    opacity: 1; transition: opacity 500ms ease;
    overflow-y: scroll;
    --headline-done-time: 3s;

    font-size: 16px;
} 


.page .welcome .in-view {
  box-sizing: border-box;
  width: 100%;
}



.page .welcome .first-view {
  position: relative;
  width: 100%;
  height: 70%;  
  overflow-y: hidden;
}
 
.page .welcome .first-view .t3d-cnt { 
  display: block;
  margin: 0 auto;

  position: absolute;
  width: 100%; height: 500px; 
  top: 0%; transform: translateY(-50%);
}

.page .welcome .first-view .headline-text-cont {
  position: absolute;
  width: 80%; height: 9rem;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%); 
}

.page .welcome .first-view .headline-text-cont .headline-text {
  --rise-size: 5.0rem;

  width: 100%; 
  display: inline-block;
  font-family: hF1;
  font-size: var(--rise-size); 
  height: var(--rise-size); 
  line-height: var(--rise-size);
  text-transform: uppercase;
  color: var(--col-secondary);
  overflow: hidden;
  background-color: transparent; 
  text-align: center;
  box-sizing: border-box;
  position: relative; 

  z-index: 1;  
} 

.page .welcome .first-view .headline-text-cont .headline-text-top {
  --rise-size: 2.0rem;  
  --ht-done-time: 2.0s; 

  font-family: h7F;
  font-family: karla;  
}

.page .welcome .first-view .headline-text-cont .headline-text-main-1 { 
  --ht-done-time: 2.5s;
}

.page .welcome .first-view .headline-text-cont .headline-text-main-2 { 
  --ht-done-time: 3.0s;
} 

.page .welcome .first-view .headline-text-cont .headline-text { 
  transition: 1s padding-top ease; 
  transition-delay: 5.0s;
  transition-duration: calc(var(--ht-done-time) - .7 * var(--ht-done-time)); 
  transition-delay: calc(.7 * var(--ht-done-time)); 
  transform: rotate(-.2deg);
  padding-top: var(--rise-size);
}

.page .welcome .first-view[is-prime-view] .headline-text-cont .headline-text {
  padding-top: 0rem; 
} 



@keyframes text-rise {
  from { padding-top: var(--rise-size); }
  from { padding-top: 0px; }
}









[css-invert-cursor] {   
  z-index: 1;
  --before-bg-position-x: -100%;
  --before-bg-position-y: -100%;
  --clip-circle: 15px;
  cursor: none;
} 

[css-invert-cursor]::before { 
  content: attr(data-title);

  position: absolute;
  top: 0%; left: 0%; 
  width: 100%; height: 100%; 
  
  clip-path: circle(var(--clip-circle) at var(--before-bg-position-x) var(--before-bg-position-y));  
}

.headline-text-cont { 
  --clip-circle: 15px;
}

.headline-text-cont:before { 
  background: white;
  color: var(--bg-primary);  

}

.headline-text[ht-1]{
  --clip-circle: 15px;
} 
.headline-text[ht-2]{
  --clip-circle: 15px;
} 
.headline-text[ht-3]{
  --clip-circle: 15px;
} 
 
.headline-text::before {    
  background: white;
  color: var(--bg-primary);  

  z-index: 3; 
}  























.page .welcome .next-view {
  width: 100%; height: 100%; 
}

.page .welcome .next-view {
  display: flex; width: 100%; height: auto;
  justify-content: center;
  flex-flow: row-wrap;
  padding: 0%; margin: 0%; 
  position: relative; box-sizing: border-box; 
} 

.page .welcome .next-view .side1 {
  width: 50%; height: 100%;
  display: block; box-sizing: border-box;
  padding-top: 0%;  

  opacity: 0;
  animation: 2s side1-rise ease-out;
  animation-delay: var(--headline-done-time);
  animation-fill-mode: forwards;  
  height: 100vh;
}
.page .welcome .next-view .side2 {
  width: 50%; height: 100%;
  display: block; box-sizing: border-box;  
}




.page .welcome .next-view[view-top-inview] .side1 {
  position: sticky;
  top: 0; 
}

.page .welcome .next-view[view-bottom-inview] .side1 { 
  
} 

.page .welcome .t3d-cnt {
  position: relative;
  display: block; 
  width: 100%; height: 100%; 
  margin-top: calc(0% - 0px); 
}
.page .welcome .t3d-cnt three-anim {

}






.page .welcome .side2 {
  overflow-y: scroll;
}
.page .welcome .text-info-section {
  display: block;
  width: 100%;
  text-align: center;
  margin: 25.0% auto;
  margin-bottom: 75.0%;
  padding: 20px; padding-left: 20%; padding-right: 20%;
  padding-top: 100%;
  box-sizing: border-box;
  animation: 2s text-info-rise ease-out;
  animation-delay: var(--headline-done-time);
  animation-fill-mode: forwards;
}

.page .welcome .text-info-section .info-note {
  font-family: iFj;
  color: var(--col-primary);
  font-size: 1.0rem;
}

.page .welcome .text-info-section .info-header {
  font-family: hF1;
  color: var(--col-primary);
  font-size: 2.5rem;
}

.page .welcome .text-info-section .info-detail {
  font-family: karla;
  color: var(--col-secondary);
  font-size: 1.2rem;
}


@keyframes text-info-rise { 
    0% {
      padding-top: 100%;
    }  
    100%{
      padding-top: 0px;
    } 
}
@keyframes side1-rise { 
    0% {
      opacity: 0;
    }  
    100%{
      opacity: 1;    
    } 
}











.page .welcome .third-view {
  width: 100%; height: 100%;
  background-color: var(--col-secondary);
  display: flex; width: 100%; height: 100vh;
  justify-content: center;
  flex-flow: row-wrap;
  padding: 0%; margin: 0%; 
  position: relative; box-sizing: border-box; 
}

.page .welcome .third-view .side-left {
  width: 60%; height: 100%;
}

.page .welcome .third-view .side-right {
  width: 40%; height: 100%;
}


.page .welcome .third-view .side-left .large-text {
  font-family: hF1;
  font-size: 3.5rem;
  color: var(--col-tertiary);
  padding-left: 100px;   padding-left: 80px;
  padding-top: 100px;
}






.page .welcome .last-view {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%; 
    overflow-y: hidden;
    background: linear-gradient(180deg, var(--bg-secondary-trsp) 0%, rgba(0,0,0,0) 100%);
}


.page .welcome .last-view .t3d-cnt {
    display: block;
    margin: 0 auto;

    position: absolute;
    width: 100%; height: 500px; 
    top: 100%; transform: translateY(-50%);
}

.page .welcome .major-text-cont {
    position: relative; 
    display: block;
    margin: 0 auto;
    width: 100%; height: 30%; 
    box-sizing: border-box;
    padding-top: 50px;
}
.page .welcome .major-text {
  width: 100%; 
  display: inline-block;
  --rise-size: 5.0rem;
  font-size: var(--rise-size); height: var(--rise-size); line-height: var(--rise-size);
  text-transform: uppercase;
  color: var(--col-secondary);
  overflow: hidden;
  background-color: transparent; 
  text-align: center;
  box-sizing: border-box;
  font-family: h7F;
  padding-top: var(--rise-size);

  z-index: 1;  
}


.page .welcome .last-view .major-text { 
  transition: 1s padding-top ease; 
}

.page .welcome .last-view[is-prime-view] .major-text { 
  padding-top: 0;
}

.page .welcome .major-text-top {
  font-family: hF1; 

  transition-duration: 2.0s;
  transform: rotate(-.2deg);
}

.page .welcome .major-text-main-1 { 
  font-family: hF1; 

  transition-duration: 2.5s; 
  transform: rotate(.1deg);
}

.page .welcome .major-text-note { 
  font-family: karla; font-size: 1.0rem; 
  transition-duration: 3.0s; 
  transform: rotate(-.3deg);
} 






.page .welcome .last-view-footer {
    position: absolute;
    top: 100%; width: 100%;
    transform: translateY(-100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--col-primary);
    box-sizing: border-box;
    padding: 10px;
    display: none;
}

.page .welcome .last-view-footer .left-text {
    font-family: karla;
    margin-right: auto;  /* Push to the left */
}

.page .welcome .last-view-footer .center-icons {
    display: flex;
    gap: 20px;  /* Adjust the gap between icons */
    font-size: 1.2rem;
}

.page .welcome .last-view-footer .right-text {
    font-family: karla;
    margin-left: auto;  /* Push to the right */
}







.page .welcome * { 
  transition: opacity 1s ease;
  opacity: 1;
}

.page .welcome[at-bottom] * {
  opacity: 0;
}

.page .welcome[at-bottom] .last-view {
  opacity: 1;
  background: transparent;
}




















.page[debug] .first-view{
  border: 1px solid yellow;
}



.page[debug] .next-view{
  border: 1px solid green;
}



.page[debug] .next-view .side1{
  border: 1px solid indigo;
}



.page[debug] .next-view .side2{
  border: 1px solid ridge;
}



.page[debug] .third-view {
  border: 1px solid blue;
}


.page[debug] .last-view {
  border: 1px solid purple;
}


.page[debug] .t3d-cnt { 
    box-sizing: border-box;
  border: 1px solid lightgoldenrodyellow;
}